*{margin: 0%;
padding: 0%;
}

header{
height: 50px;
width: 100%;
background-color: blue;

}


ul li{
    list-style: none;
    float: left;
    padding: 10px 20px;
  
   
}
ul li a{
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    font-size: 20px;
  
}

.logo h1{
    float: left;
    padding-left: 100px;
    color: white;
}
.content{
    height: 400px;
width: 1200px;
background-image: url(image/new.png);
background-repeat: no-repeat;
margin-left: 150px;

}
.content1{
    /* text-align: center; */
   padding-left: 150px;
   padding-right: 260px;
   padding-top: 10px;
}
.content1 h1{
    background-color: red;
    color: white;
}
.content1 p{
    background-color: yellow;
    padding-top: 10px;
}
 h2{
    font-size: 40px;
    padding: 10px;
    padding-left: 250px;
    color: white;
    /* box-shadow: 20px 0px 10px 10px;    */
}
h4{
    padding: 10px;
    padding-left: 280px;
    color: white;
    font-size: 25px;
}
.cont{
    float: left;
}